.X{
    background: lightcoral;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border: none;
    padding: 2px 7px;
    position: absolute;
    right: -25px;
    top: 0px;
    z-index: 2;
}

.X:hover {
    cursor: pointer;
    background: red;
}

.Check {
    width: 25px;
    height: 25px;
    padding: 0;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right: -25px;
    z-index: 3;
    border: 2px solid green;
    color: green;
}

.Check:hover {
    background: green;
    color: white;
}

.Edit {
    width: 25px;
    height: 25px;
    padding: 0;
    font-size: 15px;
    position: absolute;
    top: 0;
    left: -25px;
    z-index: 3;
    border: 2px solid grey;
}

.Edit:hover {
    background: grey;
    color: white;
}

.BackColor {
    width: 25px;
    height: 25px;
    padding: 0;
    border: 1px solid black;
    border-radius: none;
    transition-duration: .25s;
    position: absolute;
    left: -25px;
    top: 25px;
    z-index: 2;
}

.BackColor:nth-of-type(2) {
    top: 50px;
}
.BackColor:nth-of-type(3) {
    top: 75px;
}
.BackColor:nth-of-type(4) {
    top: 100px;
}

.BackColor:hover {
    z-index: 3;
    width: 30px;
    height: 30px;
    border: 2px solid black;
}

.Plus {
    background: rgba(0, 110, 255, 1);
    color: white;
    font-size: 50px;
    font-weight: 800;
    line-height: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    padding-bottom: 20px;
    padding-left: 5px;
    margin: 0 auto;
    transition-duration: 0.5s;
  }
  
  .Plus:hover {
    cursor: pointer;
    background: rgba(0, 110, 255, 0.6);
  }
  
  .Rotate {
    transition-duration: 0.5s;
    transform: rotate(45deg);
    padding-bottom: 7.5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    background: red;
  }
  
  .Rotate:hover {
    background: rgba(255, 0, 0, .6);
  }
  
  .Move {
    width: 25px;
    height: 25px;
    padding: 0;
    font-size: 15px;
}

.MovePosition {
    position: absolute;
    left: -25px;
    top: 0px;
    z-index: 2;
}
.EditContent {
    position: absolute;
    top: -25px;
    width: 25px;
    height: 25px;
    padding: 0;
    font-size: 15px;
}

.Margin {
    position: absolute;
    bottom: -25px;
    left: 0px;
    padding: 0;
    width: 25px;
    height: 25px;
}