.background {
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    text-align: center;
}

.text {
    width: 1280px;
    margin: 150px auto;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 150px;
    padding-right: 170px;
    background: rgba(150, 150, 150, .6);
    border-radius: 20px;
    text-align: center;
    z-index: 6;
}