.measure {
    border-top: 1px rgba(0, 110, 255, 1) solid;
    border-left: 1px rgba(0, 110, 255, 1) solid;
    border-right: 1px rgba(0, 110, 255, 1) solid;
    background: rgba(0, 110, 255, .1);
    font-weight: bold;
    padding: 25px 0;
}
