.Edit {
    width: 54px;
    height: 50px;
    padding: 0;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    border: 2px solid grey;
}

.Edit:hover {
    background: grey;
    color: white;
}