.BackColor {
    width: 54px;
    height: 50px;
    border: 1px solid black;
    border-radius: none;
    transition-duration: .25s;
    position: absolute;
    left: 0px;
    top: 50px;
    z-index: 2;
}

.BackColor:nth-of-type(2) {
    top: 100px;
}
.BackColor:nth-of-type(3) {
    top: 150px;
}
.BackColor:nth-of-type(4) {
    top: 200px;
}

.BackColor:hover {
    z-index: 3;
    width: 62px;
    height: 60px;
    border: 2px solid black;
}