.x{
    background: red;
    color: white;
    font-size: 40px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    padding: 5px 15px;
    position: absolute;
    left: -25px;
    top: -25px;
    z-index: 2;
}

.x:hover {
    cursor: pointer;
    background: lightcoral;
}