div.DraftEditor-root {
    border: 1px solid #000;
    background-color: inherit;
    min-height: 200px;
    width: 640px;
    overflow-y: auto;
    margin: 0 auto;
  }
  div.DraftEditor-editorContainer,
  div.public-DraftEditor-content {
    min-height: 200px;
    height: 100%;
    padding: 5px;
  }

  .Editor {
    display: block;
    margin: 0;
    padding: 0;
  }

 .Inline-Toolbar {
   display: inline-block;
 }

  .Toolbar {
    background: white;
    border: none;
    width: 630px;
    display: inline-block;
    margin: 0 auto;
    padding: 15px 5px;
    text-align: left;
  }

  .Block-Toolbar {
    display: inline-block;
}

.Header {
    display: inline-block;
}

.Buttons {
    display: inline-block;
}

.Controls {
    display: inline-block;
}

  .Dropdown {
    padding: 15px;
}

  button {
    background: white;
    border: none;
    padding: 15px;
    font-size: 18px;
    color: grey;
  }
  
  button:hover {
    background: #ddd;
    cursor: pointer;
  }

  .Active {
    color: black;
  }
  
  .Button {
    padding: 10px;
    font-size: 12px;
    color: grey;
  }
  
  .Button:hover {
    background: #ddd;
    cursor: pointer;
  }
  
  .Button-Active {
    color: black;
  }

  .Color {
    background: #ddd;
    border-radius: 50%;
    font-size: 18px;
    padding: 13px 15px;
    margin: 5px;
    cursor: pointer;
  }

  .Color:hover {
    background: #999;
    cursor: pointer;
  }

