.frame {
  position: relative;
}

.outer {
  background: white;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-bottom: 2px solid darkgrey;
  position: relative;
}

.ground {
  display: inline-block;
  width: 0px;
}

.whole {
  padding-top: 0px;
  width: 640px;
  background: inherit;
  margin: 0 auto;
  min-height: 200px;
  vertical-align: top;
}

/* Half Section */
.half {
  display: inline-block;
  background: inherit;
  min-height: 200px;
  vertical-align: top;
}

.half:nth-child(1) {
  margin-right: 25px;
}

.half:nth-child(3) {
  margin-left: 25px;
}

.halfDivider {
  position: absolute;
  top: 90px;
  left: 145px;
  z-index: 1;
  background: transparent;
}
/* Third Section */
.third {
  width: 360px;
  display: inline-block;
  background: inherit;
  min-height: 400px;
  vertical-align: top;
}

.third:nth-child(1) {
  padding-right: 25px;
}

.third:nth-child(3) {
  padding-left: 25px;
  padding-right: 25px;
}
.third:nth-child(5) {
  padding-left: 25px;
}

.thirdDividerL {
  position: absolute;
  top: 240px;
  left: 228px;
  z-index: 1;
  background: transparent;
}

.thirdDividerR {
  position: absolute;
  top: 240px;
  right: 228px;
  z-index: 1;
  background: transparent;
}

/*Styling Range*/

input[type="range"] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  pointer-events: none;
  /*fix for FF unable to apply focus style bug */

  /*required for proper track sizing in FF*/
}

.halfWidth input[type="range"] {
  width: 345px;
}

/* .thirdWidth input[type="range"] {
  width: 410px;
} */

input[type="range"]::-moz-range-track {
  min-height: 200px;
  background: transparent;
  border: none;
  border-radius: 3px;
}

.halfWidth input[type="range"]::-moz-range-track {
  width: 345px;
}

/* .thirdWidth input[type="range"]::-moz-range-track {
  width: 410px;
} */

input[type="range"]::-moz-range-thumb {
  border: none;
  min-height: 200px;
  width: 4px;
  border-radius: 0%;
  background: lightgrey;
  pointer-events: auto;
}
input[type="range"]::-moz-range-thumb:hover {
  background: rgba(0, 120, 215, 0.8);
  cursor: pointer;
  width: 4px;
}

/*hide the outline behind the border*/
input[type="range"]:-moz-focusring {
  outline-offset: -1px;
}

.drop {
  padding: 20px 0;
  background: rgba(0, 120, 215, 0.3);
  border: 3px solid rgba(0, 120, 215, 0.5);
}

.dropHover {
  padding: 20px 0;
  background: green;
}

.movePosition {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}
