.outer {
  background: white;
  padding: 50px;
  border-bottom: 2px solid darkgrey;
}

.divider {
  display: inline-block;
  width: 4px;
  height: 100px;
  background: orange;
}

.whole {
  width: 1180px;
  
  background: white;
  margin: 0 auto;
  min-height: 400px;
}

.half {
  width: 565px;
  display: inline-block;
  background: white;
  min-height: 400px;
  
}

.half:nth-child(1) {
  padding-right: 23px;
}

.half:nth-child(3) {
  padding-left: 23px;
}

.third {
  width: 360px;
  display: inline-block;
  background: white;
  min-height: 400px;
}

.third:nth-child(1) {
  padding-right: 25px;
}

.third:nth-child(2) {
  padding-left: 25px;
  padding-right: 25px;
}
.third:nth-child(3) {
  padding-left: 25px;
}
