.content {
  width: 100%;
  border: 2px dashed rgb(190, 190, 190);
  min-height: 200px;
  font-size: 80px;
  color: rgba(190, 190, 190, 1);
  cursor: pointer;
}

.content:hover {
  background: rgba(190, 190, 190, 0.25);
  border: 2px solid rgba(190, 190, 190, 1);
}

h4 {
  color: rgba(190, 190, 190, 1);
}

.tile {
  width: 60px;
  display: inline-block;
  background: rgba(190, 190, 190, .1);
  border: 2px solid rgba(190, 190, 190, 1);
  height: 60px;
  margin: 5px;
  line-height: 60px;
}

.tile:hover {
  cursor: pointer;
}

.pContent {
  text-align: left;
  margin: 0;
}

/* .ContentDisplayed:hover {
  cursor: pointer;
} */

.ContentDisplayed {
  position: relative;
}

figure {
  margin: 0;
}